<p id="notice"><%= notice %></p>

<div class="index_header">
  <h1>Radnom</h1>
</div>

<div class="index_spin_button">
  <a href="/wheel" title="Spin The Wheel!">Spin the Radnomizer!</a>
</div>

<!-- <div class="attribution">
<h5>By Findlay Parke, with credit to André Cortellini!</h5>
</div> -->












