<div class="show_value">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @radnom_app.name %>
</p>


<%= link_to 'Edit', edit_radnom_app_path(@radnom_app) %> |
<%= link_to 'Back', list_path %>

</div>